The purpose of this file is to stylize the views of the Django with CSS.

body {
  font-family: "Times New Roman", sans-serif;
  background: url('images/stadium.jpg');
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0 !important;
  padding: 0 !important;

}

.findgameback {
  background: url('images/stadium.jpg') !important;
  width: 100% !important;
  background-size: 100% !important;
}

.playerbackground {
  background: url('images/cubplayers.jpg') !important;
  width: 100% !important;
  background-size: 100% !important;

}

h4 {
  background-color:white;
  text-align: center;
}

h3 {
  background-color: white;
  text-align:center;
  width: 25%;
}

.fantasyback {
  background: url('images/imageedit_5_6202330194.jpg') !important;
  width: 100%  !important;
  background-size: 100% !important;
}

img {
 width: 90%;
 height: 60%;
 margin: -30px 0px 15px 0px;
 position: relative;

}

.boxresults {
  background-color:white !important;
  width: 30%;
  margin: 0 auto;
  border-style: double;
  border-width: 1px;
  opacity: .9;
}

.boxresultslarge {
  background-color:white !important;
  width: 50%;
  margin: 0 auto;
  border-style: double;
  border-width: 1px;
  opacity: .9;
} 

.fields {
  font-color:blue !important;
}

.formarea {
  background-color:white !important;
  width: 60%;
  margin: 0 auto;
  border-style: double;
  border-width: 1px;
  opacity: .9;
}

input {
  position:relative;
  padding:6px 15px;
  left: 0px;
  right: 2px;
  margin: 0 8px;
  border:2px solid #207cca;
  background-color:white;
  color:#207cca;
  line-height: 2em;

a {
 color: white;
 font-size: 25pt;
 text-align: center;
 display: inline-block;
 padding: 0px 20px;
 text-decoration: none;
}

.results {
  background-color:blue;
}

.winner {
  background-color:blue;
}
