body {
  font-family: "Times New Roman", sans-serif;
  background: url('images/number07.png');
  background-size: 100%;
  #background-repeat: repeat-y;
  margin: 0 !important;
  padding: 0 !important;
}
img {
 width: 100%;
 height: 60%;
 margin: -30px 0px 15px 0px;
 position: relative;
}

placeholder{
  text-align: "center";
}

input {
  position:relative;
  padding:3px 5px;
  left:-8px;
  border:2px solid #207cca;
  background-color:white;
  color:#207cca;
  margin 0 20px;
  line-height: 2em;
  
#box {

  border:5px black;


}

a {
 color: white;
 font-size: 25pt;
 text-align: center;
 display: inline-block;
 padding: 0px 20px;
 text-decoration: none;
}
