<!-- The purpose of this file is to create an HTML/Django view to create Fantasy Teams.

Created by Jessica Lu.
 -->
<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search</title>
       {% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/style.css' %}" />
  </head>
  <body class="fantasyback">
    <div class="formarea" >
    <div align="center">
      <font size="4"><h1 style="color:black">Create a fantasy team with players from any era.</h1></font>
      <font size="1.5"><h1 style="color:black">Choose and rank your top stats to create a fantasy team
      	and see how it does in a 162-game season.</h1></font>
        _______________________________________________________
        <h4> <a href="{% url 'stats' %}">Learn more about each stat and our algorithm.</a> </h4>
        <br/>
        <a href="{% url 'index' %}">Back to Home</a>
        <br/>
        <br/>
    </div>
<div class="frame" align="center">
            <form method="get" name="FindGamesForm">
                {% csrf_token %} 
                <br/>
                {% for field in form %}
                {{ field.label }} {{ field }} {{ field.help_text }}
                <br/>
                <br/>
                {% endfor %}
                <br/>
                <br/>
                <input type="submit" value="Create" />
                <br/>
            </form>
        </div>
      </div>
        <br/>
        <br/>
        <br/>
        <div class="frame">
            {% if result != None %}
            <div class="results">
            <div class="boxresultslarge" align="center">
                <table class="courses" border="2">
                  <tr class="roster">
                  <font size="5">
                  {% if FantTeamName %}
                  <h2> The {{ FantTeamName }} Team </h2>
                  {% else %}
                  <h2> Your custom fantasy team. </h2>
                  {% endif %}
                   <font size="5">
              {{ team_desc }}
                         <br/>
                  </font>
                  {% for field in roster_results %}
                    <br/>
                    {% if forloop.counter0|divisibleby:'2' %}
                   <a href="google.com"> <strong>{{ field }}</strong> </a>
                    {% else %}
                   {{ field }}
                    <br/>
                    {% endif %}
                  {% endfor %}
                  <br/>
                </font>
            </div>
                </table>
            </div>
            {% endif %}
        </div>
<br/>
  </body>
</html>