<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search</title>
       {% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/style.css' %}" />
  </head>
  <body class="fantasyback">
    <div class="formarea" >
    <div align="center">
      <font size="5"><h1 style="color:black">Create a fantasy team with players from any era.</h1></font>
      <font size="2"><h1 style="color:black">Choose and rank your top stats to create a fantasy team
      	and see how it does.</h1></font>
        <br/>
        <a href="{% url 'index' %}">Back to Home</a>
        <br/>
        <br/>
    </div>
<div class="frame" align="center">
            <form method="get" name="FindGamesForm">
                {% csrf_token %}
                
                {% for field in form %}
                  {% if forloop.counter <= 4 %}
                  {{ field.label }}: {{ field }}
                    {% endif %}
                  {% if forloop.counter == 5 %}
                  <br/>
                  {% endif %}
                  {% if forloop.counter >= 5 and forloop.counter <= 8 %}
                    {{ field.label }} {{ field }}
                  {% endif %}
                  <br/>
                  <br/>
                  {% if forloop.counter >= 9 %}
                  {{ field.label }}:  {{ field }} {{ field.help_text }}
                  {% endif %}
                {% endfor %}

                <br/>
                <br/>
                <br/>
                <input type="submit" value="Create" />
                <br/>
            </form>
        </div>
      </div>
        <br/>
        <br/>
        <br/>
        <div class="frame">
            {% if result != None %}
            <div class="results">
            <div class="boxresults" align="center">
                <table class="courses" border="2">
                  <tr class="roster">
                  <font size="4.5">
                  {% if FantTeamName %}
                  <h2> The {{ FantTeamName }} Team </h2>
                  {% else %}
                  <h2> Your custom fantasy team. </h2>
                  {% endif %}
                  {% for field in roster_results %}
                    <br/>
                    {% if forloop.counter0|divisibleby:'2' %}
                   <a href="google.com"> <strong>{{ field }}</strong> </a>
                    {% else %}
                   {{ field }}
                    <br/>
                    {% endif %}
                  {% endfor %}
                  <br/>
                </font>
            </div>
                  {% for s, num in stats.items %}
                    {% if num != None %}
                      {{ s }}: {{ num }}
                         <br/>
                    {% endif %}
                  {% endfor %}
                  <tr/>
                </table>
            </div>
            {% else %}
            <p> No fantasy team was created. Try some different params! </p>
            {% endif %}
        </div>
<br/>
  </body>
</html>