<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search</title>
       {% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/stylefantasy.css' %}" />
  </head>
  <body>
    <div align="center">
      <h1 style="color:black">Create a fantasy team with players from any era.</h1>
      <a href="{% url 'index' %}">Back to Home</a>
      <br/>
      <br/>
      <h3 style="color:black">Choose and rank your top five stats to create a fantasy team
      	and see how it does.</h3>
    </div>
    <div align="center">
<div class="frame">
            <form method="get" name="FindGamesForm">
                {% csrf_token %}
                
                {% for field in form %}
                	{{ field.label_tag }}
                	{{ field }} 
                	<br/>
                {% endfor %}
           
                <br/>
                <br/>
                <br/>
                <input type="submit" value="Create" />
            </form>
        </div>


        <div class="frame">
            {% if result != None %}
            <div class="results">
                <table class="courses" border="2">
                  <tr>
                  <div>
                  {{ result.as_p }}
                  {% for field in roster_results %}
                    <br/>
                    {% if forloop.counter0|divisibleby:'2' %}
                    <strong>{{ field }}</strong>
                    {% else %}
                    {{ field }}
                    <br/>
                    {% endif %}
                  {% endfor %}
                  <br/>
                  {% for s, num in stats %}
                      {{ s }} : {{ num }}
                      <br/>
                  {% endfor %}
                  </div>
                  <tr/>
                </table>
            </div>
            {% else %}
            <p> No fantasy team could be created. Try some different params! </p>
            {% endif %}
        </div>
<br/>
  </body>
</html>