

<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search</title>

  </head>
  <body>
    {% load staticfiles %}
    <div align="center" >
      <img src="{% static "findgames/images/yankees.jpg" %}" alt="My image"/>
      <h1>Find a game with any stat.</h1>
      <h5> <em> Enter in as few or as many fields as you want. </em> </h5>
      <a href="{% url 'index' %}">Back to Home</a>
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/style.css' %}" />
      <br/>
      <br/>
    </div>
     <div class="frame" align="center">
            <form method="get" name="FindGamesForm">
                {% csrf_token %}
                <table class="form">
                {{ form.as_table }}
                </table>
                <br/>
                <br/>
                <input type="submit" value="Search" />
            </form>
        </div>
    	
    <div class="frame">
            {% if result != None %}
            <div class="results">
                <table class="games">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td align="center">{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Total Games: {{ num_results }}</p>
            {% endif %}
        </div>
    	
  </body>
</html>