

<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search</title>

  </head>
  <body>
    <div align="center">
      <h1>Find a game with any stat.</h1>
      <h5> <em> Enter in as few or as many fields as you want. </em> </h5>
      <a href="{% url 'index' %}">Back to Home</a>
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/style.css' %}" />
      <br/>
      <br/>
    </div>
     <div class="frame" align="center">
            <form method="get" name="FantasyForm">
                {% csrf_token %}
                <table class="form">
                {{ form.as_table }}
                </table>
                <br/>
                <br/>
                <input type="submit" value="Search" />
            </form>
        </div>
    
    {% if args  %}
    <div class="args">
    	<pre>{{ args }} </pre>
    </div>
    {% endif %}
    
    {% if err %}
    <div class="error">
    	{{ err|safe }}
    	
    </div>
    {% endif %}
    <div class="frame">
            {% if result != None %}
            <div class="results">
                <table class="courses">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Results: {{ num_results }}</p>
            {% endif %}
        </div>
    	
  </body>
</html>