

<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search</title>

  </head>
  <body>
    {% load staticfiles %}
    <div align="center" class='image' position="relative">
      <img src="{% static "findgames/images/yankeesstad.jpg" %}" alt="My image"/>
      <h1 position="absolute"><span>Find a game with any stat.</span></h1>
      <h5> <em> Enter in as few or as many fields as you want.</em> </h5>
      <a href="{% url 'index' %}">Back to Home</a>
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/style.css' %}" />
      <br/>
      <br/>
    </div>
     <div class="frame" align="center">
            <form method="get" name="FindGamesForm">
                {% csrf_token %}
                <table class="form">
                {% for field in form %}
                {% if forloop.counter == 1 or forloop.counter == 2 %}
                {{ field.label_tag }} {{ field }}
                {% else %}
                <br/>
                <br/>
                {{ field.label_tag }} {{ field }} 
                {% endif %}
                {% endfor %}
                </table>
                <br/>
                <br/>
                <input type="submit" value="Search" />
            </form>
        </div>
    	
    <div class="frame">
            {% if result != None %}
            <div class="results">
                <table class="games">
                    <tr>
                      {% for res in result %}
                      <br/>
                      <div align="center"> {{ res|slice:"0:1"|join:"" }} </div>
                      <div align="center"> {{ res|slice:"1:2"|join:"" }} @ {{ res|slice:"2:3"|join:"" }} in {{ res|slice:"3:4"|join:"" }} </div>
                      <div align="center"> {{ columns|slice:"4:5"|join:"" }}: {{ res|slice:"4:5"|join:"" }} ||  {{ columns|slice:"5:6"|join:"" }}: {{ res|slice:"5:6"|join:"" }}   </div>
                      <div align="center"> {{ columns|slice:"8:9"|join:"" }}: {{ res|slice:"8:9"|join:"" }} ||  {{ columns|slice:"9:10"|join:"" }}: {{ res|slice:"9:10"|join:"" }}  </div>
                      <div align="center">{{ columns|slice:"6:7"|join:"" }}: {{ res|slice:"6:7"|join:"" }} ||  {{ columns|slice:"7:8"|join:"" }}: {{ res|slice:"7:8"|join:"" }}  </div>
                      <div align="center"> <strong> {{ columns|slice:"10:11"|join:"" }}: {{ res|slice:"10:11"|join:"" }} </strong> </div>
                      <p align="center">---------------------------------- </p>
                      <br/>
                      {% endfor %}
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td align="center">{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Total Games: {{ num_results }}</p>
            {% endif %}
        </div>
    	
  </body>
</html>