<!DOCTYPE html5>
<html>
{% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/index.css' %}" />
	<br/>
<h1 align='center'> Everything Baseball </h1>
	<div align="center">
	<a href="{% url 'findgames' %}">Find Games        </a>
	<a href="{% url 'fantasy' %}">Fantasy        </a>
	<a href="{% url 'players' %}">Players</a>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<h4 align='center'> About </h4>
	<p align='center'>This project was created by Thomas Dunn, {{ name }} and Brianna Pinder. </p>
	<p align='center'>Special thanks to Anne Rogers and Matthew Wachs.</p>

</html>