<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search Players</title>
    {% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/style.css' %}" />
      <br/>
  </head>
    <div align="center">
      <h1 style="color:black" class="boxed" >Compare any two players.</h1>
      <h3> <em> Choose across leagues, teams and eras. </em> </h3>
      <a href="{% url 'index' %}">Back to Home</a>
      <br/>
      <br/>
    </div>
   <div class="frame" align="center">
    <h3 align="center"> Player Comparison </h3>
            <form method="get" name="PlayerForm">
                {% csrf_token %}
                {% for field in form1 %}
                {{ field.label_tag }} {{ field }}
                {% endfor %}
                 <input type="submit" value="Compare" />
                <br/>
               
            </form>
        </div>
         <br/>
          <br/>
        
        <h3 align="center"> Pitcher Comparison </h3>
        
    <div class="frame" align="center">
            <form method="get" name="PitcherForm">
                {% csrf_token %}
                {% for field in form2 %}
                {{ field.label_tag }} {{ field }}
                {% endfor %}
                <input type="submit" value="Compare" />
                <br/>
                
            </form>
        </div>
    	
    <div class="frame">
            {% if result != None %}
            <div class="results">
                <table class="players">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td align="center">{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
              {% if graph != None %}
              {{ graph }}
              {% endif %}
            </div>
            {% endif %}
        </div>
    	
  </body>
</html>