<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search</title>
    {% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/style.css' %}" />
      <br/>
  </head>
  <body>
    <div align="center">
      <h1 style="color:black" class="boxed" >Compare any two players.</h1>
      <br/>
      <br/>
    </div>
    <div align="center">
      <input type="text" name="q" placeholder="Player 1">
      <input type="text" name="q" placeholder="Player 2">
    </div>
    <br/>
    <div align="center">
      <form action="/search/" method="get">
        <input type="submit" value="Compare">
      </form>
    </div>
  </body>
</html>