<!-- The purpose of this file is to create an HTML/Django view to compare players.

Created by Jessica Lu.
 -->
<!DOCTYPE html5>
<html>
  <head>
    <br/>
    <title>Search Players</title>
    {% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'findgames/style.css' %}" />
      <br/>
  </head>
  <body class="playerbackground">
    <div class="formarea">
    <div align="center">
      <font size="5"><h1 style="color:black" class="boxed" >Compare any two players.</h1></font>
      <font size="2"><h1> <em> Choose across leagues, teams and eras. </em> </h1></font>
      <a href="{% url 'index' %}">Back to Home</a>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
   <div class="frame" align="center">
            <form method="get" name="PlayerForm">
                {% csrf_token %}
                {% for field in form %}
                <font size="4.5"> {{ field.label_tag }} </font> {{ field }}
                {% endfor %}
                <br/>
                <br/>
                <br/>
                 <input type="submit" value="Compare" />
                 <br/>
                 <br/>
                 {% if message != None %}
              {{ message }}
              {% endif %}
                <br/>
               
            </form>
        </div>
         <br/>
          <br/>
  </div>
    	<br/>
      <br/>
      <br/>
    <div>
            {% if result != None %}
            <div class="boxresultslarge">
                <table class="players">
                    <tr>
                        {% for col in columns %}
                       <font size="5"> <th>{{ col }}</th> </font>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        {% if forloop.counter == 1 or forloop.counter == 7%}
                        <td align="center"> <font size="4.7"> {{ col }} </font> </td> 
                          {% else %}
                        <td align="center"> <font size="4.7">  {{ col|floatformat:3 }} </font> </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </font>
                </table>
              </br>
                <h4 align="center">The blue line represents the league average.</h4>
                <br/>
                <br/>
                {% if graphs != None %}
                {% for g in graphs %}
                <div align="center"> <img src="data:image/png;base64,{{ g|safe }}"/></div>
                <br/>
                <br/>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        </div>
  </body>
</html>