[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.tishmanspeyer.com/sites/default/files/pictures/properties/heads/yankee-stadium-header-option2.jpg
Type=Link
URL=http://www.tishmanspeyer.com/sites/default/files/pictures/properties/heads/yankee-stadium-header-option2.jpg
Icon=image-jpeg
