[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.sportsonearth.com/assets/images/3/2/8/113771328/cuts/127538087_bp87dttm_12c2snki.jpg
Type=Link
URL=http://www.sportsonearth.com/assets/images/3/2/8/113771328/cuts/127538087_bp87dttm_12c2snki.jpg
Icon=image-jpeg
