[Desktop Entry]
Encoding=UTF-8
Name=Link to http://blog.hdwallsource.com/wp-content/uploads/2016/03/baseball-field-wallpaper-24426-25090-hd-wallpapers.jpg
Type=Link
URL=http://blog.hdwallsource.com/wp-content/uploads/2016/03/baseball-field-wallpaper-24426-25090-hd-wallpapers.jpg
Icon=image-jpeg
