[Desktop Entry]
Encoding=UTF-8
Name=Link to https://xmail.uchicago.edu/owa/attachment.ashx?id=RgAAAACTmv8t6EiISY071p4g9jb2BwCcf7Tiu7grQLV%2bz24PtBTSAAAA8u3vAACcf7Tiu7grQLV%2bz24PtBTSAABMZvXJAAAJ&attcnt=1&attid0=BAAAAAAA&attcid0=F6372E78-A9DA-4382-B376-3C95D94C2562%40uchicago.edu
Type=Link
URL=https://xmail.uchicago.edu/owa/attachment.ashx?id=RgAAAACTmv8t6EiISY071p4g9jb2BwCcf7Tiu7grQLV%2bz24PtBTSAAAA8u3vAACcf7Tiu7grQLV%2bz24PtBTSAABMZvXJAAAJ&attcnt=1&attid0=BAAAAAAA&attcid0=F6372E78-A9DA-4382-B376-3C95D94C2562%40uchicago.edu
Icon=text-html
